// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topBar {
    width: 370px;
    height: 30px;
    padding: 10px;
    background: #dedede;
    box-shadow: 0px 0px 1px #222;
    margin: 0 auto;
    a {
        font-size: 18px;
        color: #222;
        margin: 20px;
        text-decoration: none;
    }
    a:focus {
        color: #222;
        text-decoration: none;
    }
    a:hover {
         text-decoration: underline;
    }
}

h1 {
    font-size: 42px;
}

body {
    background : #EFEFEF;
}

p {
    padding: 20px;
    font-size: 18px;
    background: #FFF;
    min-height: 200px;
    width: 100%;
}