<!DOCTYPE html>
<html>
  <head>
    <title><%=  yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topBar">
        <%= link_to "Home", "/static_pages/home" %>
        <%= link_to "Help", "/static_pages/help" %>
        <%= link_to "About", "/static_pages/about" %>
        <%= link_to "Contact", "/static_pages/contact" %>
    </div>
    <%= yield %>
  </body>
</html>
